body
{
    color: forestgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera
{
    color:gray;
    text-shadow: hotpink;
    font-family: cursive;
    height: 50px;
}